@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    color:rgb(255, 255, 255);
    font-size: 18px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(0, 0, 0, 1) 100%);

    width: 100%;
    
}

.container {
    width: 1500px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}
header .logo,
footer .blocks .logo {
    font-family: 'iceland', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;

}

header nav ul li a {
    color: #fff
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #5e5e5e;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #5e5e5e;
}

header nav ul li.btn a {
    background: #5e5e5e;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #424242 ;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color:#5e5e5e;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    color:#ffffff;
    font-weight: 500;
    line-height: 170%;
    margin: 30px;
}

.hero--info .btn {
    background: #5e5e5e;
    color:#fff ;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
} 

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 50px;
    right: -50px;
}

/* memders */
.members {
    padding-top: 250px;
}

.members h3 {
    font-weight: 600;
    font-size: 31px;
}



.members .memb {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.members .memb span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.members .memb p {
    display: block;
    text-align: center;
    margin-top: 20px;
}


.auto {
    padding: 100px 0;
}

.auto h3 {
    font-weight: 600;
    font-size: 31px;
    margin-bottom: 30px;
}

.auto p {
    line-height: 170%;
    margin-top: 30px;
}

.auto .trs {
    padding: 50px;
}

.auto .trs img {
    float: left;
}

.features {
    background: url('img/trs.gif') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features h3 {
    font-size: 40px;
}

.track {
    padding: 100px 0;
}

.track h3 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
}



.track .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.project h3,
.project p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project h3 {
    font-size: 30px;
}

.project {
    background: url('img/font.gif') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}


/* teams*/


.feat {
    background: url('img/fight.gif') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.feat h2 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 150px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about img {
    position: absolute;
    right: -50px;
    top: -10px;
}

.hero-about .akagi {
    width: 500px;
    padding: 150px 0;
}

.hero-about .akagi h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .kids {
    width: 500px;
    padding: 150px 0;
}

.hero-about .kids h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .Emperor {
    width: 500px;
    padding: 150px 0;
}

.hero-about .Emperor h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .Todo {
    width: 500px;
    padding: 150px 0;
}

.hero-about .Todo h1 {
    margin-bottom: 15px;
    font-size: 30px;
}


/* cars*/

.wrapper1 {
    background: #000000;
    height: 100px;
    width: 100%;
    
}

.hero-cars {
    position: relative;
}

.feats {
    background: url('img/Kozo_vs_Keisuke_U_turn_1st_round.gif') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.feats h2 {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feats1 {
    background: url('img/AE86_FasterClass.png') no-repeat center center fixed;
    background-size: cover;
    padding: 300px 0;
    height: 100%;
}

.feats1 h2 {
    position: relative;
    padding: 30px;
    margin-bottom: 80px;
    text-align: left;
    max-width: 800px;
    top: -100px;
    display: block;
    top: 300px;
  
}

.feats2 {
    background: url('img/SilEighty_Final_Stage.png') no-repeat center center fixed;
    background-size: cover;
    padding: 300px 0;
    height: 100%;
}

.feats2 h2 {
    position: relative;
    padding: 30px;
    margin-bottom: 80px;
    text-align: left;
    max-width: 800px;
    top: -100px;
    display: block;
    top: 300px;
  
}

.feats3 {
    background: url('img/Bunta_Impreza_Fourth_Stage.png') no-repeat center center fixed;
    background-size: cover;
    padding: 300px 0;
    height: 100%;
}

.feats3 h2 {
    position: relative;
    padding: 30px;
    margin-bottom: 80px;
    text-align: left;
    max-width: 800px;
    top: -100px;
    display: block;
    top: 300px;
  
}

.feats4 {
    background: url('img/Daiki_EK9_Fourth_Stage.png') no-repeat center center fixed;
    background-size: cover;
    padding: 300px 0;
    height: 100%;
}

.feats4 h2 {
    position: relative;
    padding: 30px;
    margin-bottom: 80px;
    text-align: left;
    max-width: 800px;
    top: -100px;
    display: block;
    top: 300px;
  
}

/**/

.aftor {
    position: relative;
    
}

.aftor h3 {
    padding: 50px 0;
    font-size: 40px;
    text-align: center;
}

.aftor p {
    padding: 40px;
    font-weight: 100px;
}

.aftor img {
    position: absolute;
    width: 25%;
    right: 0;
    top: 100px;
}

/*footer */
footer {
    background: #000000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.8px;
    background: #424242;
}

footer > p {
    text-align: center;
}

